body{
  background-color: rgba(0, 0, 255, 0.729);
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  width: 320px;
  height: 420px;
  border-radius: 8px;
  background-color: rgba(117, 117, 148, 0.219);
  border: 5px solid rgba(255, 255, 255, 0.519);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
input{
  outline: none;
  border-radius: 5px;
  height: 23px;
  margin-top: 5px;
}
button{
  padding: 7px;
  width: 90px;
  border-radius: 6px;
  border: 5px solid rgba(255, 255, 255, 0.519);
  background-color: rgba(117, 117, 148, 0.219);
  margin-left: auto;
  margin-right: auto;
}
h1{
  color: rgba(240, 248, 255, 0.699);
}
label{
  color: rgba(240, 248, 255, 0.699);
}
p{
  color: rgb(233, 19, 19);
}